.http-request{
    display: flex;
    flex-direction: column;
    width: 30%;

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.request-container{
    display: flex;
    flex-direction: column;

    background-color: white;

}
.informations{
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 16px;
    box-sizing: border-box;
    gap: 8px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    text-align: center;
}

#attack, #runAway{
    width: 50%;
    height: auto;

    padding: 16px;
    box-sizing: border-box;
    cursor: pointer;

    color: white;
    background-color: #c7445a;
    border: 1px solid white;

    font-weight: 600;

    transition: 0.3s background-color ease-in;
}

.request-container img{
    width: 100%;
    height: auto;
}

.request-button{
    margin-top: 24px;
    padding: 16px;
    box-sizing: border-box;
    cursor: pointer;

    color: white;
    background-color: #c7445a;
    border: 1px solid white;
    border-radius: 8px;

    font-weight: 600;
    font-size: 16px;

    transition: 0.3s background-color ease-in;
}

#attack:hover{
    background-color: #9B1B30;
}

#runAway:hover{
    background-color: #9B1B30;
} 

.request-button:hover{
    background-color: #9B1B30;
}