@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../css/initialPage.css');
@import url('../css/intro.css');


:root {
    --cor-branca: #FFFFFF;  
    --cor-preta: #000000; 
    --fonte-principal: "Montserrat", sans-serif;
}
  